<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Another Weather App</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://kit.fontawesome.com/956eaf0f3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../side-bar.css">
</head>
<body>
    
    <div class="wrapper" id="app">
        <side-bar></side-bar>
        <div class="content">
            <div class="abs-lft"><i class="fa-solid fa-bars"></i></div>
        </div>
    </div>
    </div>
    <script src="../main.js"></script>
    <script src="../components/side-bar.js" ></script> 
    <script>
       app.mount('#app')
    </script>
    <script src="../script.js" async></script>
</body>
</html>